name: Promote net utility image to latest

on:
  push:
    branches: ["main"]
    paths:
      - 'containers/utility/DockerFile'

jobs:
  promote-to-latest:
    runs-on: ubuntu-latest

    steps:
      - name: Install skopeo
        run: |
          sudo apt-get update
          sudo apt-get install -y skopeo

      - name: Log in to quay.io
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_PASSWORD }}
          registry: quay.io

      - name: Promote manifest (staging -> latest)
        run: |
#          IMAGE_NAME="quay.io/openshift-cnv/qe-cnv-tests-net-util-container"
          IMAGE_NAME="quay.io/sevolkov/net-utils"
          skopeo copy \
            --all \
            docker://${IMAGE_NAME}:staging \
            docker://$${IMAGE_NAME}:latest
