name: Promote net utility image to latest

on:
  pull_request_target:
    types:
      - 'closed'
    branches:
      - 'main'
    paths:
      - 'containers/utility/Dockerfile'

jobs:
  promote-to-latest:
    runs-on: ubuntu-latest

    # safe to use pull_request_target because we only run this for trusted collaborators
    if: |
      contains(fromJson('["OWNER","MEMBER","COLLABORATOR"]'), github.event.pull_request.author_association) ||
      github.event.pull_request.merged == true
    steps:
      - name: Install skopeo
        run: |
          sudo apt-get update
          sudo apt-get install -y skopeo

      - name: Log in to quay.io
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_PASSWORD }}
          registry: quay.io

      - name: Promote manifest (staging -> latest)
        run: |
          IMAGE_NAME="quay.io/sevolkov/net-utils"
          skopeo copy \
            --all \
            docker://${IMAGE_NAME}:staging \
            docker://$${IMAGE_NAME}:latest
